<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Unique Intro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/hrms_master/img/unique_intro.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/owl.carousel.css">
    <link rel="stylesheet" href="/hrms_master/css/owl.theme.css">
    <link rel="stylesheet" href="/hrms_master/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/hrms_master/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/hrms_master/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <!-- x-editor CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/editor/select2.css">
    <link rel="stylesheet" href="/hrms_master/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/hrms_master/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/hrms_master/css/editor/x-editor-style.css">
    <!-- normalize CSS
            ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/hrms_master/css/data-table/bootstrap-editable.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/hrms_master/css/calendar/fullcalendar.print.min.css">
    <!-- touchspin CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/touchspin/jquery.bootstrap-touchspin.min.css">
    <!-- datapicker CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/datapicker/datepicker3.css">
    <!-- forms CSS
        ============================================ -->
    @*<link rel="stylesheet" href="/hrms_master/css/form/themesaller-forms.css">*@
    <!-- colorpicker CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/colorpicker/colorpicker.css">
    <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/select2/select2.min.css">
    <!-- chosen CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/chosen/bootstrap-chosen.css">
    <!-- ionRangeSlider CSS
        ============================================ -->
    <link rel="stylesheet" href="/hrms_master/css/ionRangeSlider/ion.rangeSlider.css">
    <link rel="stylesheet" href="/hrms_master/css/ionRangeSlider/ion.rangeSlider.skinFlat.css">   

    <script src="/hrms_master/js/vendor/modernizr-2.8.3.min.js"></script>


    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Left menu area -->

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/hrms_master/index.html"><img class="main-logo" src="/hrms_master/img/logo/unique_intro_logo_1.png" alt="" /></a>
                <strong><a href="/hrms_master/index.html"><img src="/hrms_master/img/logo/unique_intro_logons.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    @{
                        if (Session["USERID"] != null && Session["USERNAME"] != null)
                        {
                            <ul class="metismenu" id="menu1">
                                <li class="active">
                                    <a class="has-arrow" href="index.html">
                                        <span class="educate-icon educate-home icon-wrap"></span>
                                        <span class="mini-click-non">Unique Intro</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>                                      
                                        <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Analytics</span></a></li>
                                        <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Widgets</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Departments</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Departments List" href="departments.html"><span class="mini-sub-pro">Departments List</span></a></li>
                                        <li><a title="Add Departments" href="add-department.html"><span class="mini-sub-pro">Add Departments</span></a></li>
                                        <li><a title="Edit Departments" href="edit-department.html"><span class="mini-sub-pro">Edit Departments</span></a></li>
                                    </ul>
                                </li>                                  
                                <li>
                                    <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Employees</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>@Html.ActionLink("All Employees", "AllEmployees", "Employee")</li>
                                        <li>@Html.ActionLink("Add Employee", "Create", "Employee")</li>                                        
                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink("Attendance", "Attendance", "Attendance", htmlAttributes: new { @class = "educate-icon educate-event icon-wrap sub-icon-mg" } )
                                </li>
                                <li>
                                    <a title="Landing Page" href="/Views/Employee/Create.cshtml" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Salary</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-cloud icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Provident Fund</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Leave Application</span></a>
                                </li>                                                                                                                                           
                            </ul>
                        }
                    }
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <!-- Start top menu area -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="/hrms_master/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                    @{
                                        if (Session["USERID"] != null && Session["USERNAME"] != null)
                                        {
                                            <ul class="nav navbar-nav mai-top-nav">                                              
                                                <li class="nav-item">
                                                    @Html.ActionLink("Employee List", "Index", "Employee")
                                                </li>                                              
                                                <li class="nav-item">
                                                    @Html.ActionLink("Create Profile", "Create", "Employee")
                                                </li>                                               
                                                <li class="nav-item dropdown res-dis-nn">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Settings<span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                                    <div role="menu" class="dropdown-menu animated zoomIn">
                                                        <a href="#" class="dropdown-item">Home</a>
                                                        <a href="#" class="dropdown-item">About</a>
                                                        <a href="#" class="dropdown-item">Contact Us</a>                                                     
                                                    </div>
                                                </li>                                                                                              
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item">
                                                    @Html.ActionLink("Home", "Index", "Home")
                                                </li>                                               
                                                <li class="nav-item">
                                                    @Html.ActionLink("About", "About", "Home")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Contact Us", "Contact", "Home")
                                                </li>
                                            </ul>
                                        }
                                    }
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            @{
                                                if (Session["USERID"] != null && Session["USERNAME"] != null)
                                                {
                                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                        <li class="nav-item">
                                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                                @*<img src="@Url.Content(@Session["PHOTO"])" alt="" />*@
                                                                <span class="admin-name">@Session["USERNAME"].ToString()</span>
                                                                <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                            </a>
                                                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">                                                              
                                                                <li>
                                                                    <a href="/Employee/Profile?id=@Session["USERID"].ToString()"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a>
                                                                    @*@Html.ActionLink("My Profile", "Profile", "Employee")*@
                                                                </li>
                                                                <li>
                                                                    <a href="/Login/Logout"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                                </li>
                                                            </ul>
                                                        </li>                                                        
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                        <li class="nav-item">
                                                            @Html.ActionLink("Log In", "Login", "Login")
                                                        </li>
                                                    </ul>
                                                }

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <!-- End top menu area -->
        @RenderBody()
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2021. Developed by Mimma Akter <a href="https://colorlib.com/wp/templates/">PGDIT 20</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
        ============================================ -->
    <script src="/hrms_master/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="/hrms_master/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="/hrms_master/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/hrms_master/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/hrms_master/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/hrms_master/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="/hrms_master/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/hrms_master/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="/hrms_master/js/counterup/jquery.counterup.min.js"></script>
    <script src="/hrms_master/js/counterup/waypoints.min.js"></script>
    <script src="/hrms_master/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/hrms_master/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/hrms_master/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="/hrms_master/js/metisMenu/metisMenu.min.js"></script>
    <script src="/hrms_master/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/hrms_master/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/hrms_master/js/sparkline/sparkline-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->    
    <script src="/hrms_master/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="/hrms_master/js/morrisjs/raphael-min.js"></script>
    <script src="/hrms_master/js/morrisjs/morris.js"></script>
    <script src="/hrms_master/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="/hrms_master/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/hrms_master/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/hrms_master/js/sparkline/sparkline-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/hrms_master/js/chart/jquery.peity.min.js"></script>
    <script src="/hrms_master/js/chart/peity-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="/hrms_master/js/calendar/moment.min.js"></script>
    <script src="/hrms_master/js/calendar/fullcalendar.min.js"></script>
    <script src="/hrms_master/js/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/hrms_master/js/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="/hrms_master/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/hrms_master/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="/hrms_master/js/tawk-chat.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="/hrms_master/js/data-table/bootstrap-editable.js"></script>
    <script src="/hrms_master/js/data-table/bootstrap-table.js"></script>
    <script src="/hrms_master/js/data-table/tableExport.js"></script>
    <script src="/hrms_master/js/data-table/data-table-active.js"></script>
    <script src="/hrms_master/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/hrms_master/js/data-table/bootstrap-editable.js"></script>
    <script src="/hrms_master/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/hrms_master/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/hrms_master/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/hrms_master/js/editable/jquery.mockjax.js"></script>
    <script src="/hrms_master/js/editable/mock-active.js"></script>
    <script src="/hrms_master/js/editable/select2.js"></script>
    <script src="/hrms_master/js/editable/moment.min.js"></script>
    <script src="/hrms_master/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/hrms_master/js/editable/bootstrap-editable.js"></script>
    <script src="/hrms_master/js/editable/xediable-active.js"></script>
    <!-- datapicker JS
       ============================================ -->
    <script src="/hrms_master/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="/hrms_master/js/datapicker/datepicker-active.js"></script>
    <!-- chosen JS
        ============================================ -->
    <script src="/hrms_master/js/chosen/chosen.jquery.js"></script>
    <script src="/hrms_master/js/chosen/chosen-active.js"></script>
    <!-- select2 JS
        ============================================ -->
    <script src="/hrms_master/js/select2/select2.full.min.js"></script>
    <script src="/hrms_master/js/select2/select2-active.js"></script>
    <!-- ionRangeSlider JS
        ============================================ -->
    <script src="/hrms_master/js/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script src="/hrms_master/js/ionRangeSlider/ion.rangeSlider.active.js"></script>
    <!-- rangle-slider JS
        ============================================ -->
    <script src="/hrms_master/js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/hrms_master/js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="/hrms_master/js/rangle-slider/rangle-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="/hrms_master/js/knob/jquery.knob.js"></script>
    <script src="/hrms_master/js/knob/knob-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/hrms_master/js/tab.js"></script>
    <!-- Google map JS
       ============================================ -->
    <script src="js/google.maps/google.maps-active.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiNUO68DkrsFKFz744_LWMqCNI_GqYciQ&callback=initMap"></script>
    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>